.scroll-to-top{   
    position: absolute;
    right: 0;
    padding: 10px 10px;
    color: green;    
    cursor: pointer;

}
.scroll-to-top:hover{
    color:rgba(40, 25, 7, 0.95);
}



@media(max-width:800px){
    .scroll-to-top{
        padding: 10px 1px;
        right: 16px;
    }
}