.logos-services {
   margin: 5rem 10%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
   justify-content: center;
   align-items: center;
   gap: 0.25rem;
   text-align: center;
}

.details-services {
   background-color: rgb(20, 81, 20);
   ;
   padding: 0.25rem;
}

.logos-services p {
   font-style: italic;
   color: white;
}